:root{
    --white: rgba(255,255,255,0.8);
    --black: rgba(0, 0, 0, .7);
    --font: 'Permanent Marker', cursive;
}
nav{
    background-color: var(--white);
    box-shadow: 3px 3px 20px var(--black);
    font-family: var(--font);
}
nav .nav-link{
    color: var(--black);
}
main{
    background-color: var(--white);
    box-shadow: 3px 3px 20px var(--black);
    border-radius: 10px;
    margin: 200px auto;
    padding: 30px;
    width: 600px;
    height: 250px;
    text-align: center;
}
.container h2{
    padding: 10px 0 40px 0;
}
.text {
    color: var(--black);
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}
#btn{
    color: var(--white);
    background-color: var(--black);
    font-weight: bold;
    padding: 10px 50px;
    box-shadow: 1px 1px 5px var(--black);
    border-radius: 10px;
}
.page-footer span{
    color: var(--black);
    margin: auto;
}
